.clear{
  clear: both;
}
.main-container{
  width:1280px;
  margin: 0 auto;
}
.header{
  height: 95px;
  background-color: #473A2D;
}
.header .logo{
  height: 100%;
  width: 200px;
  background-color: orange;
  margin-left: 60px;
  float: left;
}
.header .logo .logo-image{
  margin-top: 15px;
}
.header .navigation-container{
  width: 500px;
  background-color: orange;
  float: right;
  margin-right: 30px;
  padding: 20px 0;
}
.header .navigation-container .menu{
  height: 56px;
  width: 399px;
  background-color: green;
  float:left;
  border-right: 1px solid white;
}
.header .navigation-container .languages{
  height: 56px;
  width: 100px;
  background-color: grey;
  float: right;
}
.slider{
  height: 300px;
  background-color: red;
}
.services{
  height: 400px;
  background-color: orange;
}
.prices{
  height: 400px;
  background-color: brown;
}
.about-us{
  height: 400px;
  background-color: orange;
}
.clients{
  height: 200px;
  background-color: black;
}
.contacts{
  height: 300px;
  background-color: red;
}
